Repository r4ss/r4ss, pull requests merged in 2023-10, with the labels that each got.

#846 Change default exe name from "ss" to "ss3"
  .github/workflows/r4ss-extra-tests.yml
  R/NegLogInt_Fn.R
  R/check_exe.R
  R/get_ss3_exe.r
  R/jitter.R
  R/populate_multiple_folders.R
  R/profile.R
  R/retro.R
  R/run.R
  R/tune_comps.R
  man-roxygen/model.R
  man/NegLogInt_Fn.Rd
  man/check_exe.Rd
  man/jitter.Rd
  man/populate_multiple_folders.Rd
  man/profile.Rd
  man/retro.Rd
  man/run.Rd
  man/tune_comps.Rd
  tests/testthat/test-get_ss3_exe.R
  tests/testthat/test-profile.R
  tests/testthat/test-runs.R
  tests/testthat/test-test-models.R
  tests/testthat/test-tune_comps.R
Labels: enhancement, documentation

#870 Running diagnostics in parallel
  DESCRIPTION
  NAMESPACE
  R/jitter.R
  R/retro.R
  inst/WORDLIST
  man/iterate_jitter.Rd
  man/jitter.Rd
  man/r4ss-package.Rd
  man/retro.Rd
Labels: enhancement

#873 Forecast issue 866 (new forecast.ss input options)
  DESCRIPTION
  R/SS_readforecast.R
  R/SS_writeforecast.R
Labels: SS_read/SS_write

#880 feat: add read of new "maximum_ASEL2" output #878
  R/SS_output.R
Labels: output
